.logo {
  width: auto;
  height: auto;
  object-fit: cover;
  -webkit-mask-image: url(/apple-touch-icon.png);
  mask-image: url(/apple-touch-icon.png);
  -webkit-mask-size: 100%;
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  animation-duration: 4.2s;
  animation-iteration-count: infinite;
}
