@import 'tailwindcss';

:root {
  --foreground: #ededed;
  --color-blue-popsicle: #294380;
  --color-redline: #9e363a;
  --color-purple-shadow: #3b1547da;
  --color-grey-blue-leaf: #373a3fbc;
  --color-blue-pastelic-pale: #8fc0c9;
}

/**
COLORS:
- BluePopsicle: #294380
- Redline: #9e363a
- PurpleShadow: #3b1547
- GreyBlueLeaf: #3f5067
*/

html,
body {
  background: var(--color-grey-blue-leaf);
  background-image:
    linear-gradient(
      to bottom,
      var(--color-purple-shadow) 0%,
      var(--color-purple-shadow) 1px,
      transparent 1px,
      transparent 100%
    ),
    radial-gradient(
      circle at 50% -50%,
      var(--color-redline) 0%,
      var(--color-blue-popsicle) 100%
    ),
    linear-gradient(
      to bottom,
      var(--color-purple-shadow) 0%,
      var(--color-purple-shadow) 1px,
      transparent 1px,
      transparent 100%
    );
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  margin: 0;
  padding: 0;
  color: var(--foreground);
  font-family: var(--font-ar), sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

::-webkit-scrollbar {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  position: relative;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;

  @apply text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl;
}

h2 {
  font-size: 2rem;
  font-weight: 600;

  @apply text-lg md:text-xl lg:text-2xl xl:text-3xl;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;

  @apply text-base md:text-lg lg:text-xl xl:text-2xl;
}

.font-rubica {
  font-family: var(--font-rubica), sans-serif;
}

.navbar {
  margin-top: 0;
  background-color: transparent;
  filter: brightness(0.85);
  -webkit-backdrop-filter: blur(200px);
  backdrop-filter: blur(200px);
  padding: 1rem 0;
}

button {
  cursor: pointer;

  @apply disabled:cursor-not-allowed;
}

.loader {
  display: inline-grid;
}
.loader:before,
.loader:after {
  content: '';
  grid-area: 1/1;
  height: 50px;
  aspect-ratio: 6;
  --c: #0000 64%, var(--color-redline) 66% 98%, #0000 101%;
  background:
    radial-gradient(35% 146% at 50% 159%, var(--c)) 0 0,
    radial-gradient(35% 146% at 50% -59%, var(--c)) 25% 100%;
  background-size: calc(100% / 3) 50%;
  background-repeat: repeat-x;
  -webkit-mask: repeating-linear-gradient(
      90deg,
      var(--color-redline) 0 15%,
      #0000 0 50%
    )
    0 0/200%;
  mask: repeating-linear-gradient(
      90deg,
      var(--color-redline) 0 15%,
      #0000 0 50%
    )
    0 0/200%;
  animation: l8 0.8s infinite linear;
}
.loader:after {
  scale: -1;
}
@keyframes l8 {
  to {
    -webkit-mask-position: -100% 0;
    mask-position: -100% 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to bottom,
    var(--color-purple-shadow) 0%,
    var(--color-purple-shadow) 1px,
    transparent 1px,
    transparent 100%
  );
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  -webkit-filter: blur(10px) brightness(0.85) invert(0.5);
  filter: blur(10px) brightness(0.85) invert(0.05);
  z-index: -1;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
